<div ng-controller="inboxController as ctrl">
    <tool-bar mail="ctrl.mail"></tool-bar>
    <div ng-repeat="mail in ctrl.mail">
        <div class="row message unread selected-{{mail.selected}}" ng-if="mail.read == false" ng-click="ctrl.markUnread($ctrl.mail)">
            <div class="col-xs-1">
                <div class="row">
                    <div class="col-xs-2">
                        <input type="checkbox" ng-model="mail.selected"/>
                    </div>
                    <div class="col-xs-2">
                        <i class="glyphicon glyphicon-star-empty"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-11">
                <span class="label label-warning" ng-repeat="label in mail.labels">{{label}}</span>
                <a href="#">
                    {{mail.subject}}
                </a>
            </div>
        </div>

        <div class="row message read selected-{{mail.selected}}" ng-if="mail.read" ng-click="ctrl.markRead($ctrl.mail)">
            <div class="col-xs-1">
                <div class="row">
                    <div class="col-xs-2">
                        <input type="checkbox" ng-model="mail.selected"/>
                    </div>
                    <div class="col-xs-2">
                        <i class="glyphicon glyphicon-star-empty"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-11">
                <span class="label label-warning" ng-repeat="label in mail.labels">{{label}}</span>
                <a href="#">
                    {{mail.subject}}
                </a>
            </div>
        </div>
    </div>
</div>